<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/geturl" method="post" accept-charset="UTF-8">
      <input type="text" name="iurl" />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
